<h1>Restaurant</h1>
<h2><%= @restaurant.name %></h2>
<p>Address: <%= @restaurant.address %></p>
<p>Phone number: <%= @restaurant.phone_number %></p>
<p>Category: <%= @restaurant.category %></p>
<p>Reviews:
<% @restaurant.reviews.each do |review| %>
  * <%= review.rating %>
  "<%= review.content %>"
<% end %>


<p>
<%= link_to 'Back', restaurants_path, class: "btn btn-primary" %>

<%# <%= link_to 'Remove restaurant', restaurant_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary"%>

<%= link_to 'Add a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
</p>
